@import './styles.scss';

.dashboard-actions {
  border-bottom: 2px solid $primary-color;
  // background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  margin-bottom: 2.5rem;

  &__tabs {
    display: inline-flex;
    gap: 0.5rem;
    // background: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    button {
      all: unset;
      padding: 1.3rem 1.5rem;
      font-size: 1rem;
      color: $dark-grey;
      cursor: pointer;
      transition: color linear 0.1s;
      font-weight: bold;
      background: lighten($color: $accent-color-light, $amount: 3);
      border-radius: 0.5rem 0.5rem 0 0;

      &:hover {
        color: $primary-color;
        background: $accent-color-light;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-weight: bolder;
      }
      
      &.active {
        background: $primary-color;
        color: white;
        font-weight: bolder;

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        // border-bottom-left-radius: 1.5rem 1rem;
        // border-bottom-right-radius: 1.5rem 1rem;
      }
    }
  }


  // button {
  //   color: $dark-grey;
  //   background: white;
  //   font-size: 1rem;
  //   font-weight: bold;
  //   padding: 0.75rem 1.5rem;
  //   border: none;
  //   cursor: pointer;
  //   transition: all 0.3s;

  //   &:hover {
  //     color: $primary-color;
  //   }

  //   &.active {
  //     background: $accent-color-light;
  //     color: white;

  //     border-top-left-radius: 0.5rem;
  //     border-top-right-radius: 0.5rem;
  //     border-bottom-left-radius: 1.5rem 1rem;
  //     border-bottom-right-radius: 1.5rem 1rem;
  //   }
  // }
}