@import './styles.scss';

.header {
  // position: sticky;
  // top: 0;
  // align-items: center;
  // z-index: 1000;
  // box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10px;
  z-index: 1000;
  display: flex; // ensure layout is set
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;

  // Glassmorphism core styles
  background: rgba(150, 150, 150, 0.15); // translucent white
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); // Safari support
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); // subtle bottom border
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); // soft shadow

  .logo {
    height: 38px;
    width: auto;
    cursor: pointer;
    transition: transform 0.18s;

  }

  .header-buttons {
    display: flex;
    gap: .7rem;

    button{
      text-transform: capitalize;
    }
  }

  .header-profile{
    position: relative;
  }

  .profile-icon{
    font-size: 2rem;
    color: $primary-color-light;
    cursor: pointer;
    // padding: 5px;
    // background: lighten($color: $dark-grey-light, $amount: 55);
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    // transform: scale(1.1);
    
    &:hover {
      color: $primary-color;
      background: $accent-color-light;
      // transform: scale(1.2);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}