@import './styles.scss';

.profile-menu {
  position: absolute;
  top: 0; /* Adjust based on your header height */
  right: 20px; /* Adjust based on your layout */
  background: $white;
  border: 1px solid $primary-color;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 1000;
  
  &__header {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color;
    border-bottom: 1px solid $light-grey;
    text-align: center;
  }

  &__item {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $light-grey;
    }
    
    &--logout {
      color: $cancel-color;
      font-weight: bold;
    }
  }
}