@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #163172;
  --primary-light: #2d4a8d;

  --secondary: #639fab;
  --secondary-light: #78b1bd;

  --accent: #bbcde5;
  --accent-light: #ccd9ed;

  --dark-grey: #444444;
  --dark-grey-light: #5e5e5e;

  --cancel: #e63946;
  --cancel-light: #f07a82;

  --success: #22c55e;
  --success-light: #4ade80;

  --text-color: #333333;
  --light-grey: #f8f8f8;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-width: 320px; /* Set your desired min-width */
}

input,
textarea,
select,
button {
  outline: none;
}

input{
  font-size: 1rem;
}

.highlighted {
  background: linear-gradient(135deg, #639fab, #3d6c78);
  color: #fff;
  padding: 6px 14px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin: 0.35rem 0;

  box-shadow: 0 0 10px rgba(99, 159, 171, 0.5),
    0 0 20px rgba(99, 159, 171, 0.3);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);

  animation: pulse 2.4s infinite ease-in-out, fadeInSlide 1s ease-in-out forwards;
}

@keyframes pulse {

  0%,
  100% {
    /* transform: scale(1); */
    box-shadow: 0 0 10px rgba(99, 159, 171, 0.5),
      0 0 20px rgba(99, 159, 171, 0.3);
  }

  50% {
    /* transform: scale(1.07); */
    box-shadow: 0 0 20px rgba(99, 159, 171, 0.7),
      0 0 30px rgba(99, 159, 171, 0.5);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-120%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.dot-loader-bounce {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.2rem;
  background-color: var(--primary);
  border-radius: 50%;
  animation: bounce 1.1s infinite;
}

.dot-loader-bounce:nth-of-type(1) {
  animation-delay: 0.1s;
}

.dot-loader-bounce:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot-loader-bounce:nth-of-type(3) {
  animation-delay: 0.3s;
}


.hero, .auth-page-background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.07' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hero{
  background-color: var(--light-grey);
}

.auth-page-background{
  background-color: var(--accent-light);
}
.welcome-title,
.join-title {
  font-size: 3.2rem;
  font-weight: 800;
  background: linear-gradient(135deg, var(--white), var(--secondary),  var(--white));
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInSlide 1s ease-in-out forwards;
  margin-bottom: 1.5rem;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}